.main-background {
    width: 100%;
}

html {
    background-size: cover;
    background-repeat: no-repeat;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.border {
    border-radius: 20px;
}
.border-contact {
    background-color: #91a5ffa8;
    border: 1px #91a5ffa8 solid;
    border-radius: 20px;
    --height-for-message: 100px;
}

.height-for-message {
    height: var(--height-for-message);
}


body {
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

body {
--text-col: white;
--bg-col: #252525;
--bg-message: white;
--bg-btn: #4a47d3;
--bord-col: #252525;
--bg-btn-message: #4a47d3;

background-color: var(--bg-col);
}

body.light {
--text-col: #1D2F6F;
--bg-col: #d6ebfa;
--bg-message: white;
--bg-btn: #4a47d3;
--bord-col: white;
--bg-btn-message: #4a47d3;
}

.text-col {
color: var(--text-col);
}
.bg-col {
background-color: var(--bg-col);
padding: 0;
}
.bg-message{
background-color: var(--bg-message);
border: 1px white solid;
border-radius: 30px;
}
.bg-btn {
background-color: var(--bg-btn);
height: 15%;
}
.bord-col {
color: white;
}
.bg-btn-message {
    background-color: var(--bg-btn-message);
    border: 1px #4a47d3 solid;
    border-radius: 30px;
    font-weight: bold;
}

.icon {
    width: 50px;
    height: 50px;
}

.message-img {
    max-width: 70%;
    max-height: 70%;
}

.btn {
    color: white;
}
.btn:hover {
    color: #98bfff;
    background-color: rgb(152, 191, 255, 0.2);
}

.main-container {
    height: 85%;
}


.mode {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 90px;
    height: 50px;
    border-radius: 50px;
    outline: none;
    /* background-color: yellow; */
    background-image: url(../img/day.jpg);
    background-size:cover;
}

.mode::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 50px;
    margin: 3px;
}

.mode:checked::before {
    transform: translate(85%);
}

.mode:checked {
    background-image: url(../img/night.jpg);
}

.message-icon {
    width: 3vh;
    height: 3vh;
}

p{
    font-size: 20px;
}