.main-background {
    width: 100%;
}

html {
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    }

html, body {
    width: 100%;
    height: 135%;
    margin: 0;
  }

body {
--text-col: white;
--bg-col: #252525;
--bg-message: white;
--bg-btn: #4a47d3;
--bord-col: #252525;

background-color: var(--bg-col);
}

body.light {
--text-col: #1D2F6F;
--bg-col: #d6ebfa;
--bg-message: white;
--bg-btn: #4a47d3;
--bord-col: white;
}

.text-col {
    color: var(--text-col);
}
.bg-col {
    background-color: var(--bg-col);
    padding: 0;
}
.bg-message{
    background-color: var(--bg-message);
    height: max-content;
    border: 1px white solid;
    border-radius: 30px;
}
.bg-btn {
    background-color: var(--bg-btn);
    height: 10%;
}
.bord-col {
    color: white;
}

.word-space{
    margin: 0;;
}

.icon {
    width: 50px;
    height: 50px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 90px;
}
p, h1, h3{
    color: #4a47d3;
}

.content {
    width: 80%;
    height: 170vh;
}

.btn {
    color: white;
}
.btn:hover {
    color: #98bfff;
    background-color: rgb(152, 191, 255, 0.2);
}

.enclosure {
    background-image: linear-gradient(to left, rgba(152, 191, 255,0.1), rgba(228,187,151,0.1));
}

input {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 90px;
    height: 50px;
    border-radius: 50px;
    outline: none;
    /* background-color: yellow; */
    background-image: url(../img/day.jpg);
    background-size:cover;
}

input::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 50px;
    margin: 3px;
}

input:checked::before {
    transform: translate(85%);
}

input:checked {
    background-image: url(../img/night.jpg);
}
