.gradient-background {
    background: linear-gradient(-45deg, rgba(152, 191, 255,1) 11.2%, rgba(228,187,151,1) 91.1% );
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    border: 1px #141204 solid;
    border-radius: 10px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image-source: linear-gradient(to left, #98bfff, rgba(228,187,151,1));
}

.word-space{
    margin: 0;;
}

html {
    background-size: cover;
    background-repeat: no-repeat;
}

html, body {
    width: 100%;
    /* height: 100%; */
    margin: 0;
  }

  body {
    font-family: 'Montserrat', sans-serif;
  }

.second-color {
    background-color: #141204;
}

.icon {
    fill: white;
    /* color: white; */
    width: 50px;
    height: 50px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 90px;
}

.btn {
    color: white;
}
.btn:hover {
    color: #98bfff ;
}

.enclosure {
    background-image: linear-gradient(to left, rgba(152, 191, 255,0.1), rgba(228,187,151,0.1));
}
